- title("#{@detail["title"]}_鸡蛋果TOP")
- keywords("#{@detail["title"]},#{@detail["category"]}") 
- head_desc("#{@detail["title"]}，#{@detail["recommend"]} 今日价格/优惠/折扣，请看鸡蛋果TOP www.jidanguo.top")

= render partial: "header"
.container
  .row
    .col-md-12
      %nav
        %a{href: "/"} 百香果
        &nbsp;>&nbsp;
        %a{href: "/ddh/#{@detail["itemId"]}/"} #{@detail["shortTitle"]}
    .col-md-12
      %h1.page-header #{@detail["shortTitle"]}
      - @detail["auctionImages"].each_with_index do |img, index|
        %img{src: "#{img}", alt: "#{@detail["shortTitle"]}_#{index}", width: "200px", height: "200px", style: "padding:5px;"}
      %p #{@detail["recommend"]}
      %p 今日优惠百香果，可以领#{@detail["couponMoney"]}元优惠券，券后价格#{@detail["nowPrice"]}元，#{@detail["title"]}本月已经销售了#{@detail["monthSales"]}件。
    .col-md-12
      %h2.page-header 更多百香果价格
      - @items.each do |item|
        %a{href: "/ddh/#{item["itemId"]}/"}
          .col-md-3
            %img.img-responsive{src: "#{item["coverImage"]}", style:"padding: 5px;", alt: "#{item["title"]}"}
            %p{style: "padding:5px"} #{item["title"]}
            %p{style: "padding:0 5px"} 今日价格#{item["nowPrice"]}元，可领取#{item["couponMoney"]}元优惠券
    .col-md-12.page-header
    .col-md-12
      %p
        大家都在找：
        - @keywords.each do |k|
          %a{href: "/bxg/#{URI.encode(k)}/"} #{k}
        - @ams[:articles].each do |at|
          %a{href: "/article/#{at[:id]}.html"} #{at[:title]}


= render partial: "footer"
