- title('百香果(鸡蛋果)果汁之王_百香果【功效/作用/禁忌/营养价值/怎么吃】')
- keywords('百香果,鸡蛋果,鸡蛋果和百香果的区别,鸡蛋果的功效与作用,鸡蛋果的营养价值,鸡蛋果怎么吃,水果鸡蛋果,鸡蛋果多少钱一斤,鸡蛋果的功效和禁忌,百香果的籽可以吃吗,百香果一天吃几个最好') 
- head_desc('百香果又叫鸡蛋果，果汁含量特别高，被大家称为【果汁之王】。本站为大家提供百香果(鸡蛋果)大家关注问题的解答：百香果和鸡蛋果的区别？百香果的吃法？百香果的功效与作用？百香果多少钱一斤？等等问题。有关百香果的各种信息查询，请看www.jidanguo.top')

= render partial: "header"
.container
  .row
    .col-md-12
      %nav
        %a{href: "/"} 百香果
        &nbsp;>&nbsp;
        %a{href: "/ddh/#{@detail["itemId"]}/"} #{@detail["shortTitle"]}
    .col-md-12
      %h1.page-header #{@detail["shortTitle"]}
      - @detail["auctionImages"].each_with_index do |img, index|
        %img{src: "#{img}", alt: "#{@detail["shortTitle"]}_#{index}", width: "200px", height: "200px", style: "padding:5px;"}
      %p #{@detail["recommend"]}
      %p 今日优惠百香果，可以领#{@detail["couponMoney"]}元优惠券，券后价格#{@detail["nowPrice"]}元，#{@detail["title"]}本月已经销售了#{@detail["monthSales"]}件。
    .col-md-12
      %h2.page-header 更多百香果价格
      - @items.each do |item|
        %a{href: "/ddh/#{item["itemId"]}/"}
          .col-md-3
            %img.img-responsive{src: "#{item["coverImage"]}", style:"padding: 5px;", alt: "#{item["title"]}"}
            %p{style: "padding:5px"} #{@detail["title"]}


= render partial: "footer"
