- title('百香果的功效与作用')
- keywords('百香果,百香果的功效与作用,鸡蛋果,百香果怎么吃,百香果的功效,百香果图片,百香果的功效和禁忌,百香果泡水的正确方法') 
- head_desc('百香果也叫鸡蛋果，酸甜可口同时营养丰富，含有多种维生素和氨基酸。百香果适于绝大多数人食用，有排毒养颜、润肠通便、生津利咽等功效和作用，当然最主要的还是好吃，百香果泡水加蜂蜜，味道好到爆炸！本网站为您提供全国优质百香果购买渠道，来放心挑选吧 - 鸡蛋果TOP www.jidanguo.top')

= render partial: "header"

.container.fr
  .fr-9
    %article.article
      %h1.fr-title 百香果的功效与作用
      %p 百香果也叫鸡蛋果，酸甜可口同时营养丰富，含有多种维生素和氨基酸。百香果适于绝大多数人食用，有排毒养颜、润肠通便、生津利咽等功效和作用，当然最主要的还是好吃，百香果泡水加蜂蜜，味道好到爆炸！
      %img{src: "/image/baixiangguo_4.jpg", alt: "百香果和百香果果肉"}
      %p 下面咱们来细聊百香果的功效与作用。
      %p 从百香果富含的营养物质及其功效说起。富含的维生素（维c最高）与氨基酸，可以增强人体抵抗力，提高免疫力，有助于身体的生长发育和创伤恢复。
      %p 含有的超纤维，可以促进肠胃消化功能，进行深层次的吸收与排毒，有助于帮助人体整健肠胃，缓解便秘等症状。
      %p 经常食用百香果，还可以有美容养颜的功效，它富含维C、维C有抑制黑色素生成的功效，对皮肤很好，而且可以促进皮肤新陈代谢，排除皮肤黑色素。
      %p 进入冬季，北方易干燥容易上火，百香果对喉咙痛还有很好的缓解作用，泡水加糖/加蜂蜜/加养乐多搅拌均匀，喝起来超级舒爽！
      %img{src: "/image/baixiangguo_2.jpg", alt: "黄金百香果"}
      %p 更多关于百香果的小知识：
      %ul
        %li 百香果的果籽是可以吃的，酸酸脆脆的，口感很不错。
        %li 百香果还叫“巴西果”“鸡蛋果”，有“果汁之王”的称呼。
        %li 百香的名字由来是其气味特别芳香，可散发出香蕉、菠萝、柠檬、草莓、番桃、石榴等多种水果的浓郁香味。
        %li 百香果宜放在干燥通风处或冰箱冷藏里，不要冷冻，如果百香果果壳出现了干瘪的现象，实属正常，不要扔，此时百香果味道更甜！
        %li 《四川中药志》："性温，味苦，无毒。"
        %li 《生药学》："用于神经痛，失眠症，月经痛及下痢等症，有麻醉及镇静作用。"
        %li 《四川中药志》："除风清热，止咳化痰。治风热头昏，鼻塞流涕。"
        %li 孕妇是可以吃百香果的，一般不会产生不良反应。
        %li 一般在国内的百香果是在6月份之后才会成熟，9月份大量上市，建议挑选百香果的时候选择9-10月份的，因为这个时候的百香果口感最好，营养价值更高，而在6月之前的百香果，多为库存果或催熟果。
        %li 如果是买回去立马就吃的话，建议选择表皮略皱或有轻微凹陷的百香果，这种特征是百香果成熟的标志，如果表皮过于光滑、圆润，则代表要放一段时间才能吃，如果过于皱缩，则表示百香果放置时间过久，已经不新鲜了。
        %li 百香果根据种类不同，颜色也有不同，常见的百香果种类有黄色、紫色、紫红色，在挑选百香果时建议选择颜色深一些的百香果，这种百香果通常代表受日照时间更长，口感也会更好，青皮的百香果一般表示尚未成熟，口感较差。
        %li 在同等大小的百香果中，应选择手感更重的百香果，手感重的百香果相对汁水会更多，口感更佳，而手感轻的百香果汁水少，可能是成熟度不够，或者不够新鲜。
        %li 在挑选百香果的时候，可以摇一摇，如果里面有晃动的感觉或听到水声，就代表百香果的果肉与果壳分离了，这样的百香果品质较差，味道通常更酸。
      %img{src: "/image/baixiangguo_1.jpg", alt: "褶皱的百香果"}
      %p 百香果的吃法：
      %ul
        %li 百香果直接食用会有点酸，有些人可能适应不了，可以用百香果肉来泡水，再添加一些带有甜味的调味剂来中和酸味，比如糖、养乐多、蜂蜜等。
        %li 百香果可以制成果酱，百香果果酱的风味可以说是独特至极，毕竟有“果汁之王”的称号在。
      %img{src: "/image/baixiangguo_3.jpg", alt: "百香果果酱"}
      %h2.fr-title 用户对百香果的评价
      = render partial: "comment"

    .home-bang
      %h2.fr-title
        百香果商品热销榜 
        %span.fr-more{style: "display:none;"} 查看更多
      .goods-area
        - @goods.each_with_index do |g, index|
          %a{href: "/bxgbuy/#{g.item_id}/", target: "_blank", rel: "nofollow"}
            .goods
              %img.pic{src: "#{g.pict_url}", alt: "#{g.title}"}
              %p.t1 #{g.shop_title}
              %p.t2
                #{g.provcity}
                %span{style: "float:right;color:red;"} #{g.volume}
                %span{style: "float:right;"}月销：
              .bang-order #{index + 1}
    .home-all
      .tags
        %a.active{href: "#"} 精选
        - @tags.each do |tg|
          %a{href: "/bxgtag/#{tg.pinyin}.html"} #{tg.tag}
      .product-area
        - @products.each do |g|
          %a{href: "/bxgbuy/#{g.item_id}/", target: "_blank", rel: "nofollow"}
            .product
              %img.pic{src: "#{g.pict_url}", alt: "#{g.title}"}
              %p.t1 #{g.title}
              %p.t2{style: "padding-top: 12px;"}
                %span.tag #{g.shop_type == 0 ? '淘宝' : g.shop_type == 1 ? '天猫' : '其他'}
                %span{style: "float:right;"} #{g.volume}
                %span{style: "float:right;"} 月销：
              %p.t2
                价格 ￥
                %span.price #{g.price}
              .lg 百香果
  %aside.fr-3
    .right-area
      %h2.fr-title 百香果网站说明
      .content
        %p 本站每日更新天猫、淘宝、京东、拼多多平台上热销中的百香果相关产品。
        %p 您可以浏览到热销商品、优质店铺以及百香果的价格趋势。
        %p 如果您认为自己的百香果更优质更实惠，欢迎联系本站，本站将视实际情况为您的商品安排展示位置。
    .right-area
      %h2.fr-title 百香果资讯
      .content
        - @meta[:articles].each do |at|
          %p
            %a{href: "/article/#{at[:id]}.html"} #{at[:title]}
    .right-area
      %h2.fr-title 百香果小视频
      - @shipin.each do |v|
        .r-video
          %img.pic{src: "#{v[:pic]}", alt: "#{v[:title]}"}
          .t1 
            %a{href: "#{v[:src]}", target: "_blank", rel: "nofollow"}#{v[:title]}
          .t2 #{v[:views]}次观看
    .right-area
      %h2.fr-title 百香果#正在讨论的话题#
      - @topics.each do |t|
        .r-topic
          %p ##{t[:title]}#
          %div{style: "text-align:right;"}
            %a{href: "#{t[:src]}", target: "_blank", rel: "nofollow",style: "text-decoration: underline;"} 去讨论
        
= render partial: "home_footer"
