- title("#{@keyword}价格_#{@keyword}优惠_#{@keyword}折扣")
- keywords("#{@keyword}价格,#{@keyword}优惠,#{@keyword}折扣,#{@keyword}多少钱一斤,#{@keyword}市场价格,#{@keyword}价格走势") 
- head_desc("查看#{@keyword}今日价格/折扣/优惠，就来鸡蛋果TOP www.jidanguo.top。")

= render partial: "header"
.container
  .row
    .col-md-12
      %nav
        %a{href: "/"} 百香果
        &nbsp;>&nbsp;
        %a{href: "/bxg/#{URI.encode(@keyword)}/"} #{@keyword}
    .col-md-12
      %h1.page-header #{@keyword}
      %p 
        以下就是本站鸡蛋果TOP查询到的有关
        %strong #{@keyword}
        的全部商品：
      - @items.each do |item|
        %a{href: "/ddh/#{item["itemId"]}/"}
          .col-md-3
            %img.img-responsive{src: "#{item["coverImage"]}", style:"padding: 5px;", alt: "#{item["title"]}"}
            %p{style: "padding:5px"} #{item["title"]}
            %p{style: "padding:0 5px"} 今日价格#{item["nowPrice"]}元，可领取#{item["couponMoney"]}元优惠券

    .col-md-12.page-header
    .col-md-12
      %p
        大家都在找：
        - @keywords.each do |k|
          %a{href: "/bxg/#{URI.encode(k)}/"} #{k}
        - @ams[:articles].each do |at|
          %a{href: "/article/#{at[:id]}.html"} #{at[:title]}


= render partial: "footer"
