- title("Top 20 best value #{@k} - Great deals on #{@k} from global #{@k} sellers - UuCoupon")
- head_desc("Online shopping for best value #{@k}, you can find great deals on #{@k} from UuCoupon - price info, discount info, lastest volume info and images of #{@k}.Global #{@k} sellers.")
- keywords("#{@k}, best value #{@k}, top 20 #{@k}, top 20 best value #{@k} online") 
- path("/e_popular/#{URI.encode(@k)}")

= render partial: "header_pc"

.white-line-area
  .related-k
    - @keywords.each do |k|
      %a{href: "/ek/#{URI.encode(k.keyword)}", class: "rk"} #{k.keyword}
.wrapper1200{style: "margin-top: 10px;"}
  #gy_filter
    .wrapper1200
      %ul.platform-area{style: "margin: 0;padding:0;"}
        %li.platform-type#platform_1{data: {type: "1"}} AliExpress
        %li{style: "font-size:18px;line-height: 40px;color: #ccc;"} Amazon
        %li.right-tips 
          %br
          "#{@k}" search results 
          %span#r_num
      .order-area
        %ul.sort-type{style: "margin: 0;padding:0;"}
          %li.sort_li#li-sort-1{data: {sort: "1"}} Best Match
          %li.sort_li#li-sort-2{data: {sort: "2"}} Orders
          %li.sort_li#li-sort-3{data: {sort: "3"}} Price
  .zk-list.clearfix#couponList{style: "margin-top: 20px;"}
  = render partial: "load_more_pc", locals: {keyword: @k, has_coupon: 0, cid: nil}
.wrapper1200
  .desc
    %nav 
      %a{href: "/"} Home
      >
      - @nav.each do |n|
        %a{href: "/ec/#{n[0]}.html"} #{n[1]}
        >
      - if @category
        %a{href: "/ec/#{@category.id}.html"} #{@category.name}
        >
      %h1{style: "display: inline;"} best value #{@k}
    %p Looking for best value #{@k}? Online shopping for best value #{@k}, you can find great deals on #{@k} from global #{@k} sellers  - price info, lastest volume info and images of #{@k}.Besides good quality brands, you’ll also find plenty of discounts when you shop for #{@k} during big sales.
  .desc
    %h2 Best value #{@k} on coupon.uuhaodian.com
    %p Hot wire!!! You’re in the right place for best value #{@k}.Now you know that whatever you're looking for, you'll find it on UuCoupon. We have thousands of excellent products in all product categories. Whether you're looking for a high-end label or a cheap, economical bulk purchase, we guarantee it's on UuCoupon.
  .desc
    You'll find small independent discount sellers next to the official store brand, all of whom offer fast shipping and reliable, as well as convenient and safe payment methods, no matter how much money you choose.
  .desc
    %p If you are still hesitant about the #{@k} and are considering a similar product, coupon.uuhaodian.com is a good place to compare prices and sellers. We'll help you determine whether it's worth paying extra for a high-end version, or whether you get the same benefits by buying a cheaper product. Moreover, if you just want to be nice to yourself and spend a lot of money on the most expensive version, uucoupon will always make sure you get the best price for your money, even let you know when it will be better to wait for the promotion to start, and the savings you can expect

  - if @hot_keywords.size > 0
    .desc
      %p
        Hot Search:
        %br
        %a{href: "/ek/#{URI.encode(@k)}", title: "Promotional #{@k}"} #{@k}
        |
        - @hot_keywords.each do |k|
          %a{href: "/e_popular/#{URI.encode(k)}", title: "Best Value #{k}"} #{k}
          |
  - if @rank_keywords.size > 0
    .desc
      %p
        Ranking Search:
        %br
        - @rank_keywords.each do |k|
          %a{href: "/e_popular/#{URI.encode(k)}", title: "Best Value #{k}"} #{k}
          |
= render partial: "footer_pc"
