- title("#{@k} - Buy Promotional #{@k} Online - UuCoupon")
- head_desc("Online shopping for promotional #{@k}, you can find hot sale #{@k} on UuCoupon - price info, discount info, lastest volume info and images of #{@k}.")
- keywords("#{@k}, promotional #{@k}, hot sale #{@k}, #{@k} online") 
- path("/ec/#{@category.id}.html")

= render partial: "header_pc"

.wrapper1200
  .desc{style: "margin-bottom: 0;"}
    %nav{style: "margin-bottom: 0;"} 
      Category :
      - @nav.each do |n|
        %a{href: "/ec/#{n[0]}.html"} #{n[1]}
        >
      - if @category
        %h1
          %a{href: "/ec/#{@category.id}.html", style: "color: #fe2e54;"} 
            #{@category.name}
  - if @categories.size > 0
    .desc{style: "margin-top: 10px;margin-bottom: 0;"}
      %p 
        Subcategories :
        - @categories.each do |c|
          %a{href: "/ec/#{c.id}.html"} #{c.name}
          |

- if @brands.size > 0
  .brand-list-area{style: "height: #{(@brands.size / 8.0).ceil * 105}px"}
    - @brands.each do |b|
      %a{href: "/eb/#{b.id}.html"}
        %img{src: "#{b.img_url}", alt: "#{b.name}"}
        %p #{b.name}

.wrapper1200
  .zk-list.clearfix#couponList
  = render partial: "load_more_pc", locals: {keyword: "", has_coupon: 0, cid: @category.cid}
.wrapper1200
  - if @attr.size > 0
    .desc
      %p
        #{@k} Filters - You can choose different attributes of #{@k}:

      %ul
        - @attr.each do |ar|
          %li{style: "line-height: 30px;"}
            %span{style: "font-weight: bold;"} #{ar["attributeName"]}:
            - ar["attributeValues"].sample(10).each do |v|
              %span{style: "color: #aaa;padding: 0 5px;"} #{v["attributeValueName"]}
  .desc
    %p Looking for a good deal on #{@k}? Online shopping for promotional #{@k}, you can find hot sale #{@k} on UuCoupon - price info, lastest volume info and images of #{@k}.Besides good quality brands, you’ll also find plenty of discounts when you shop for #{@k} during big sales.
  .desc
    %h2 Hot Promotions in #{@k} on coupon.uuhaodian.com
    %p Hot wire!!! You’re in the right place for #{@k}.Now you know that whatever you're looking for, you'll find it on UuCoupon. We have thousands of excellent products in all product categories. Whether you're looking for a high-end label or a cheap, economical bulk purchase, we guarantee it's on UuCoupon.
  .desc
    %p You'll find small independent discount sellers next to the official store brand, all of whom offer fast shipping and reliable, as well as convenient and safe payment methods, no matter how much money you choose.
  .desc
    %p If you are still hesitant about the #{@k} and are considering a similar product, coupon.uuhaodian.com is a good place to compare prices and sellers. We'll help you determine whether it's worth paying extra for a high-end version, or whether you get the same benefits by buying a cheaper product. Moreover, if you just want to be nice to yourself and spend a lot of money on the most expensive version, uucoupon will always make sure you get the best price for your money, even let you know when it will be better to wait for the promotion to start, and the savings you can expect

  .desc
    %p 
      Top Categories :
      - @cate1.each do |c|
        %a{href: "/ec/#{c.id}.html"} #{c.name}
        |
  - if @same_level_cate.size > 0
    .desc
      %p 
        Same Level Categories :
        - @same_level_cate.each do |c|
          %a{href: "/ec/#{c.id}.html"} #{c.name}
          |
  - if @keywords.size > 0
    .desc
      %p.c
        Related Search:
        %br
        - @keywords.each do |k|
          %a{href: "/ek/#{URI.encode(k)}", title: "Promotional #{k}"} #{k}

  - if @hot_keywords.size > 0
    .desc
      %p
        Hot Search:
        %br
        %a{href: "/e_popular/#{URI.encode(@k)}", title: "Best Value #{@k}"} #{@k}
        |
        - @hot_keywords.each do |k|
          %a{href: "/ek/#{URI.encode(k)}", title: "Promotional #{k}"} #{k}
          |
  - if @rank_keywords.size > 0
    .desc
      %p.c
        Ranking Search:
        %br
        - @rank_keywords.each do |k|
          %a{href: "/ek/#{URI.encode(k)}", title: "Promotional #{k}"} #{k}
          |
= render partial: "footer_pc"
