- title("Hot Promotions Online - UuCoupon")
- head_desc("Online shopping for hot promotional products, you can find hot sale promotions on UuCoupon - price info, discount info, lastest volume info and images of hot sale products.")
- keywords("hot promotions, hot promotions online") 
- path("/")

= render partial: "header_pc"

.wrapper1200
  .desc
    %h1  Hot Promotions on coupon.uuhaodian.com
    %p Looking for a good deal on hot promotions? Online shopping for promotional hot products, you can find hot sale products on UuCoupon - price info, lastest volume info and images of #hot sale products.Besides good quality brands, you’ll also find plenty of discounts when you shop for hot promotions during big sales.

  .desc
    %p 
      Select Categories :
      - @cate1.each do |c|
        %a{href: "/ec/#{c.id}.html"} #{c.name}
        |

  .brand-list-area{style: "height: #{(@brands.size / 8.0).ceil * 105}px"}
    - @brands.each do |b|
      %a{href: "/eb/#{b.id}.html"}
        %img{src: "#{b.img_url}", alt: "#{b.name}"}
        %p #{b.name}

.wrapper1200
  #gy_filter
    .wrapper1200
      %ul.platform-area{style: "margin: 0;padding:0;"}
        %li.platform-type#platform_1{data: {type: "1"}} AliExpress
        %li.platform-type#platform_2{data: {type: "2"}, onclick: "go_amazon_s('hot product');"} Amazon
        %li.right-tips 
      .order-area
        %ul.sort-type{style: "margin: 0;padding:0;"}
          %li.sort_li#li-sort-1{data: {sort: "1"}} Best Match
          %li.sort_li#li-sort-2{data: {sort: "2"}} Orders
          %li.sort_li#li-sort-3{data: {sort: "3"}} Price
  .zk-list.clearfix#couponList{style: "margin-top: 20px;"}
  = render partial: "e_promo_load_more_pc", locals: {keyword: 'Best Seller', has_coupon: 0, cid: nil}

.wrapper1200
  - if @hot_keywords.size > 0
    .desc
      %p
        Hot Search:
        %br
        - @hot_keywords.each do |k|
          %a{href: "/ek/#{URI.encode(k)}", title: "Promotional #{k}"} #{k}
          |
  - if @rank_keywords.size > 0
    .desc
      %p.c
        Ranking Search:
        %br
        - @rank_keywords.each do |k|
          %a{href: "/ek/#{URI.encode(k)}", title: "Promotional #{k}"} #{k}
          |

= render partial: "footer_pc"
