- title("【#{@s.nick}】#{@s.nick}首页/评价/怎么样_便宜网购商城")
- head_desc(@desc)
- keywords("#{@s.nick},#{@s.nick}首页,#{@s.nick}评价,#{@s.nick}怎么样,#{@s.nick}优惠券") 
- path("/ws/#{@id}.html")
- mobile_url("http://m.17430.com.cn/ws/#{@id}.html")

%header
  .navbar.hn
    .container
      %a.hlink{href: "/"} 便宜网购商城
      %a.hlink{href: "/map/keyword/k1.html"} 商品推荐
      %a.hlink{href: "/map/shop/s1.html"} 店铺推荐
  %nav
    .container
      %a{href: "/", title: "便宜网购商城"} 首页
      >
      %a{href: "/map/shop/s1.html"} 店铺推荐
      >
      %h1 #{@s.nick}

%article.container
  .columns
    .col-12.text-center
      %img.s-circle{src: "#{@shop.pic_url}", alt: "#{@s.nick}", width: "200px;"}
  %p.c
    %span.H #{@s.nick}
    是一家经营状况良好、获得超多好评的一家淘宝天猫网店。店铺掌柜migiaokes旗舰店待客热情，回复消息及时，如果大家有任何问题，可以直接在旺旺进行咨询。
    %span.H #{@s.nick}
    正在销售的产品包括#{@ks.map{|k| k.keyword}.join("、")}，欢迎大家选购。

  %p.c
    您可能还在找：
    - @ks.each do |w|
      %a{href: "/wp/#{w.id}.html"} #{w.keyword}
  %p.c
    与
    %span.H #{@s.nick}
    相似的店铺：
    - @ss.each do |s|
      %a{href: "/ws/#{s.id}.html"} #{s.nick}

%aside.container
  = render partial: "friend_link"

%footer.container
  %hr
  %p.text-center
    便宜网购商城为您推荐淘宝天猫店铺
    %span.H #{@s.nick}
    www.17430.com.cn
