- title(@title || "爱券网_内部优惠券,淘宝优惠券,天猫内部优惠券,找淘宝内部券")
- head_desc(@description || "爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券内部券一网打尽，提供淘宝优惠券、天猫优惠券、内部优惠券、内部优惠卷、隐藏优惠券、隐藏券、隐藏优惠卷等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。") 
- keywords(@keywords || "爱券网,爱券,内部优惠券,内部券,隐藏券,天猫优惠券,淘宝优惠券,天猫内部优惠券,淘宝内部优惠券,找券网,优惠券网站,券搜搜,丁丁特价")
- pc_host(@pc_host || "www.iquan.net")
- mobile_url(@mobile_url || 'http://m.iquan.net')

.container
  .row
    .col-md-12
      %h1.page-header= @title || "爱券网 - 淘宝天猫内部优惠券"
      %p.content= @comments || @description || "爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券内部券券搜搜淘券券一网打尽，提供淘宝优惠券、天猫优惠券、内部优惠券、内部优惠卷、隐藏优惠券、隐藏券、隐藏优惠卷、天猫内部优惠券、淘宝内部优惠券、爱淘宝优惠券等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。"
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://omqxp8we2.bkt.clouddn.com/coupon/2017/7/3/150167054100031597_400x400", alt: "居家优惠券"}
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://img.alicdn.com/imgextra/i2/1969838936/TB2qtmop.hnpuFjSZFEXXX0PFXa_!!1969838936.jpg_400x400", alt: "鞋子优惠券"}
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://omqxp8we2.bkt.clouddn.com/coupon/2017/7/1/150210187400047347_400x400", alt: "美食优惠券"}
      %p.content 
        为大家准备了：淘宝天猫
        %span 内部优惠券网站
        汇总

    - @compete_brands.each_with_index do |brand, index|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 网站介绍：#{brand.description.gsub('内部优惠券', '<strong>内部优惠券</strong>').gsub('内部券','<strong>内部券</strong>').gsub('找券网', '<strong>找券网</strong>').html_safe} 【淘宝优惠券】【天猫优惠券】网站排名-#{index+1}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank", title: "#{brand.title}"} #{brand.title}

    - @product_brands.each_with_index do |brand, index|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 品牌介绍：#{brand.comments}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank", title: "#{brand.title}"} #{brand.title}【内部优惠券】品牌券网站排名 - #{index + 1}
    .col-md-12
      %h2.page-header 热销商品 - 更新于 #{Time.now.strftime("%Y-%m-%d")}
      - @coupons.each_with_index do |c, index|
        %a{href: "https://www.iquan.net/youhui/#{c["coupon_id"]}/", title: "#{c["title"]}#{c["gap_price"]}元淘宝优惠券"}
          .col-md-3
            %img.img-responsive{src: "#{c["thumbnail_pic"]}", alt: "#{c["title"]},可领#{c["gap_price"]}元淘宝优惠券"}

            %p.content 【原价】#{c["raw_price"]}元，【天猫淘宝优惠券】#{c["gap_price"]}元，券后价#{c["coupon_price"]}元，#{c["title"]}，月售#{c["month_sales"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix

%section
  .container
    .row
      .col-md-12
        %h3 相关搜索
        %p.content
          - %w(优惠券网站 内部优惠券 天猫内部优惠券 天猫内部券官网 天猫宝内部优惠券平台 天猫隐藏优惠券 淘宝优惠券 商家内部券网站 内部优惠券去撸券 优惠券网 优惠券平台 商家内部券网 优惠券查询 淘宝劵平台 天猫优惠券网站 搜劵 内部优惠券去撸券 商家内部券网站 天猫内部券 淘券基地 淘宝内部优惠券平台 淘宝内部券 天猫优惠券免费领取 美丽折 天猫优惠券 淘宝优惠券发券网 商家内部优惠券网址 淘宝优惠券平台 今日劵官网 大淘优惠券 内部优惠券平台 淘宝的折扣平台 淘宝内部优惠券网址 免费优惠券平台 精选购物优惠券).each do |w|
            %strong #{w}
      .col-md-12
        %h3 更多品牌天猫优惠券
        %p
          %a.btn.btn-default{href: "https://www.iquan.net/g_yaojingdekoudai/",style: "margin-bottom:5px"} 妖精的口袋优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_baicaowei/",style: "margin-bottom:5px"} 百草味淘宝优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_sanzhisongshu/",style: "margin-bottom:5px"} 三只松鼠优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_liangpinpuzi/",style: "margin-bottom:5px"} 良品铺子优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_loulanmiyu/",style: "margin-bottom:5px"} 楼兰蜜语优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_zhouheiya/",style: "margin-bottom:5px"} 周黑鸭优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_qiushuiyiren/",style: "margin-bottom:5px"} 秋水伊人优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_xiawazhixiu/",style: "margin-bottom:5px"} 夏娃之秀优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_nuoshilan/",style: "margin-bottom:5px"} 诺诗兰优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_balabala/",style: "margin-bottom:5px"} 巴拉巴拉优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/map_k/",style: "margin-bottom:5px"} 通用优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/dianpu/",style: "margin-bottom:5px"} 淘宝天猫旗舰店排行榜
