- title(@title || "天猫双十二优惠券,天猫12优惠券领取,天猫商城优惠券-聚划算聚优品")
- head_desc(@description || "聚划算聚优品（www.17430.com.cn）天猫双12优惠券领取,天猫双十二优惠券同步更新，精选天猫商城和淘宝优质折扣商品，每天几百款九块九包邮、1元秒杀、9.9包邮及九块邮特价秒杀商品，为大家提供极致网购体验及真正物美价廉的商品！")
- keywords(@keywords || "天猫优惠券,天猫优惠券领取,天猫超市优惠券领取,天猫领券,天猫商城优惠券,淘宝商城优惠券,天猫优惠,天猫超市券,天猫折扣,聚优品官网,天猫领取优惠券,天猫网优惠券,天猫精品优惠券,天猫优惠劵网站,优惠券网购平台,天猫超市优惠券,领取天猫优惠券,天猫优惠价,网购优惠券,聚优品,聚划算聚优品")

.container
  .row
    .col-md-12
      %h1.page-header= @title || "优惠券网站 - 天猫优惠券 - 淘宝优惠券"
      %p.content= @comments || @description || "聚划算聚优品（www.17430.com.cn）天猫双12优惠券领取,天猫双十二优惠券同步更新，精选天猫商城和淘宝优质折扣商品，每天几百款九块九包邮、1元秒杀、9.9包邮及九块邮特价秒杀商品，为大家提供极致网购体验及真正物美价廉的商品！"
      %p.content 为大家准备了：淘宝内部优惠券网站汇总
    .col-md-12
      %h2.page-header 网购省钱用好值,一折特卖巨划算,好值啊-好值
      %p.content 网站介绍：网购省钱用好值，一折特卖巨划算，又好又值，淘宝购物前先领优惠券，立省20元50元100元，好值啊！好值 - 购物省钱第一站 haozhia.cc。
      %p.content 关键词：好值,好值啊,淘宝优惠券,天猫优惠券,一折特卖,一折网,聚划算,巨划算
      %p.content
        直达链接：
        %a{href: "http://www.tengyuntaoke.com", target: "_blank"} 淘客助手
        %a{href: "http://www.xiongmao123.com", target: "_blank"} 熊猫优选
        %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
        %a{href: "http://www.ichaopai.cc", target: "_blank"} 爱潮牌
        %a{href: "http://www.shikuaigou.com", target: "_blank"} 十元包邮

    - @compete_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 网站介绍：#{brand.description}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}

    - @product_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 品牌介绍：#{brand.comments}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}
