- title(@title || "爱券网 - 淘宝天猫内部隐藏优惠券平台 - 找券网")
- head_desc(@description || "爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券内部券一网打尽，提供淘宝优惠券、天猫优惠券、内部优惠券、内部优惠卷、隐藏优惠券、隐藏券、隐藏优惠卷等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。") 
- keywords(@keywords || "折券,折券网,爱券,爱券网,爱卷,爱卷网,内部优惠券,淘宝优惠券,天猫优惠券,优惠券平台,优惠券领取,找券网,搜券网,搜券券,好券网,拿券网,淘券网,猪猪券,妈妈券,券宝宝,淘券网,抢券网")

.container
  .row
    .col-md-12
      %h1.page-header= @title || "爱券网"
      %p.content= @comments || @description || "爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券内部券一网打尽，提供淘宝优惠券、天猫优惠券、内部优惠券、内部优惠卷、隐藏优惠券、隐藏券、隐藏优惠卷等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。"
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://omqxp8we2.bkt.clouddn.com/coupon/2017/7/3/150167054100031597_400x400", alt: "居家优惠券"}
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://img.alicdn.com/imgextra/i2/1969838936/TB2qtmop.hnpuFjSZFEXXX0PFXa_!!1969838936.jpg_400x400", alt: "鞋子优惠券"}
    .col-md-4.col-sm-12.col-xs-12
      %img.img-responsive{src: "http://omqxp8we2.bkt.clouddn.com/coupon/2017/7/1/150210187400047347_400x400", alt: "美食优惠券"}
      %p.content 为大家准备了：淘宝内部优惠券网站汇总
    .col-md-12
      %h2.page-header 网购省钱用好值,一折特卖巨划算,好值啊-好值
      %p.content 网站介绍：网购省钱用好值，一折特卖巨划算，又好又值，淘宝购物前先领优惠券，立省20元50元100元，好值啊！好值 - 购物省钱第一站 haozhia.cc。
      %p.content 关键词：好值,好值啊,淘宝优惠券,天猫优惠券,一折特卖,一折网,聚划算,巨划算

    - @compete_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 网站介绍：#{brand.description}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}

    - @product_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 品牌介绍：#{brand.comments}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}
%section
  .container
    .row
      .col-md-12
        %h3 更多品牌天猫优惠券
          %p
            %a.btn.btn-default{href: "http://www.iquan.net/g_yaojingdekoudai/",style: "margin-bottom:5px"} 妖精的口袋优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_baicaowei/",style: "margin-bottom:5px"} 百草味淘宝优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_sanzhisongshu/",style: "margin-bottom:5px"} 三只松鼠优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_liangpinpuzi/",style: "margin-bottom:5px"} 良品铺子优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_loulanmiyu/",style: "margin-bottom:5px"} 楼兰蜜语优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_zhouheiya/",style: "margin-bottom:5px"} 周黑鸭优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_qiushuiyiren/",style: "margin-bottom:5px"} 秋水伊人优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_xiawazhixiu/",style: "margin-bottom:5px"} 夏娃之秀优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_nuoshilan/",style: "margin-bottom:5px"} 诺诗兰优惠券
            %a.btn.btn-default{href: "http://www.iquan.net/g_balabala/",style: "margin-bottom:5px"} 巴拉巴拉优惠券
