- title("牛仔裤,男款牛仔裤,女式牛仔裤,李维斯牛仔裤,lee牛仔裤,CK牛仔裤-瓜牛网")
- head_desc("瓜牛网guanew.net - 提供牛仔裤优惠折扣信息查询，每日更新男款牛仔裤、新款女式牛仔裤，各种品牌牛仔裤，比如lee牛仔裤、ck牛仔裤等等。")
- keywords("牛仔裤,男款牛仔裤,女式牛仔裤,男士牛仔裤,女款牛仔裤,李维斯牛仔裤,lee牛仔裤,ck牛仔裤,瓜牛网,新款牛仔裤")
- pc_host(@pc_host)
- mobile_url(@mobile_url || 'http://m.guanew.net')

.container
  .row
    .col-md-12
      %h1.page-heade 牛仔裤,男款牛仔裤,女式牛仔裤,李维斯牛仔裤,lee牛仔裤,CK牛仔裤-瓜牛网
      %p.content 瓜牛网guanew.net - 提供牛仔裤优惠折扣信息查询，每日更新男款牛仔裤、新款女式牛仔裤，各种品牌牛仔裤，比如lee牛仔裤、ck牛仔裤等等。
    .col-md-12
      %h2.page-header 男款牛仔裤
      - @c1.each_with_index do |c, index|
        %a{href: "#", title: "男款牛仔裤#{c["title"]}"}
          .col-md-3
            %img.img-responsive{src: "#{c["pict_url"]}", alt: "#{c["title"]},牛仔裤男款"}

            %p.content 【原价】#{c["reserve_price"]}元，【天猫淘宝优惠券】折扣价价#{c["zk_final_price"]}元，#{c["title"]}，月售#{c["volume"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix
    .col-md-12
      %h2.page-header 女式牛仔裤
      - @c2.each_with_index do |c, index|
        %a{href: "#", title: "女式牛仔裤#{c["title"]}"}
          .col-md-3
            %img.img-responsive{src: "#{c["pict_url"]}", alt: "#{c["title"]},牛仔裤女款"}

            %p.content 【原价】#{c["reserve_price"]}元，【天猫淘宝优惠券】折扣价价#{c["zk_final_price"]}元，#{c["title"]}，月售#{c["volume"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix
    .col-md-12
      %h2.page-header 李维斯牛仔裤 levi's
      - @c3.each_with_index do |c, index|
        %a{href: "#", title: "李维斯牛仔裤#{c["title"]}"}
          .col-md-3
            %img.img-responsive{src: "#{c["pict_url"]}", alt: "#{c["title"]},levi's李维斯牛仔裤"}

            %p.content 【原价】#{c["reserve_price"]}元，【天猫淘宝优惠券】折扣价价#{c["zk_final_price"]}元，#{c["title"]}，月售#{c["volume"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix
    .col-md-12
      %h2.page-header lee牛仔裤
      - @c4.each_with_index do |c, index|
        %a{href: "#", title: "lee牛仔裤#{c["title"]}"}
          .col-md-3
            %img.img-responsive{src: "#{c["pict_url"]}", alt: "#{c["title"]},新款lee牛仔裤"}

            %p.content 【原价】#{c["reserve_price"]}元，【天猫淘宝优惠券】折扣价价#{c["zk_final_price"]}元，#{c["title"]}，月售#{c["volume"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix
    .col-md-12
      %h2.page-header ck牛仔裤
      - @c5.each_with_index do |c, index|
        %a{href: "#", title: "ck牛仔裤#{c["title"]}"}
          .col-md-3
            %img.img-responsive{src: "#{c["pict_url"]}", alt: "#{c["title"]},新款ck牛仔裤"}

            %p.content 【原价】#{c["reserve_price"]}元，【天猫淘宝优惠券】折扣价价#{c["zk_final_price"]}元，#{c["title"]}，月售#{c["volume"]}件，剁手都要买的宝贝，打开【手机淘宝】即可购买
        - if index % 4 == 3
          .clearfix

%section
  .container
    .row
      .col-md-12
        %h3 相关搜索
        %p.content
          - %w(牛仔裤 男款牛仔裤 女式牛仔裤 新款牛仔裤 ck牛仔裤 lee牛仔裤 李维斯牛仔裤).each do |w|
            %strong #{w}
      .col-md-12
        %h3 更多品牌天猫优惠券
        %p
          %a.btn.btn-default{href: "https://www.iquan.net/g_yaojingdekoudai/",style: "margin-bottom:5px"} 妖精的口袋优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_baicaowei/",style: "margin-bottom:5px"} 百草味淘宝优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_sanzhisongshu/",style: "margin-bottom:5px"} 三只松鼠优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_liangpinpuzi/",style: "margin-bottom:5px"} 良品铺子优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_loulanmiyu/",style: "margin-bottom:5px"} 楼兰蜜语优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_zhouheiya/",style: "margin-bottom:5px"} 周黑鸭优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_qiushuiyiren/",style: "margin-bottom:5px"} 秋水伊人优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_xiawazhixiu/",style: "margin-bottom:5px"} 夏娃之秀优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_nuoshilan/",style: "margin-bottom:5px"} 诺诗兰优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/g_balabala/",style: "margin-bottom:5px"} 巴拉巴拉优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/map_k/",style: "margin-bottom:5px"} 通用优惠券
          %a.btn.btn-default{href: "https://www.iquan.net/dianpu/",style: "margin-bottom:5px"} 淘宝天猫旗舰店排行榜
%footer.container
  .row
    .col-md-12
      %h3.page_header 友情链接
      %p
        %a{href: "https://www.iquan.net"} 淘宝优惠券
        %a{href: "http://www.shikuaigou.com"} 粉丝福利购
        %a{href: "http://www.uuhaodian.com"} 优优好店
        %a{href: "http://car.uuhaodian.com"} 优优汽修帮手
        %a{href: "http://www.jidanguo.top"} 百香果
        %a{href: "http://www.gouwuzhinan.cn"} 购物指南
        %a{href: "http://www.xiongmao123.com"} 熊猫优选
      %p{style: "text-align: center;padding-bottom:50px;"}
        %a{href: "http://www.beian.miit.gov.cn"} 京ICP备17027610号-3

