- title("折券 - 折券网,折券窝,折券宝,淘宝天猫打折券")
- head_desc("折券 - 1折券、2折券、5折券、对折券，淘宝天猫打折券、折扣券免费领。折券网，折券窝，折券券，折折券，打折券，折扣券，折券100，好折券，果折券，折券宝，网购省钱平台，折券网每天百款独家特卖商品九点准时开抢，淘宝网天猫等400家商城购物返利，各种返利无处不在。")
- keywords("折券,折券网,折券窝,折券券,折折券,打折券,折扣券,折券100,好折券,果折券,折券宝")

.container
  .row
    .col-md-12
      %h1.page-header 折券
      %p.content 
        折券 - 1折券、2折券、5折券、对折券，淘宝天猫打折券、折扣券免费领。折券网，折券窝，折券券，折折券，打折券，折扣券，折券100，好折券，果折券，折券宝，网购省钱平台，折券网每天百款独家特卖商品九点准时开抢，淘宝网天猫等400家商城购物返利，各种返利无处不在。
        %a{href: "http://www.tengyuntaoke.com", target: "_blank"} 淘客助手
        %a{href: "http://www.xiongmao123.com", target: "_blank"} 熊猫优选
        %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
        %a{href: "http://www.ichaopai.cc", target: "_blank"} 爱潮牌
        %a{href: "http://www.iquan.net", target: "_blank"} 找券网
        %a{href: "http://www.shikuaigou.com", target: "_blank"} 十元包邮
      %p.content 为大家准备了：淘宝优惠券网站汇总

    - @compete_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 网站介绍：#{brand.description}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}
          %a{href: "http://#{brand.host.sub('youhui.iquan.net', 'go.51sqkb.com')}", target: "_blank"} #{brand.title}

%footer.container
  .row
    .col-md-12
      %h3.page_header 友情链接
      %p
        %a{href: "https://www.iquan.net"} 淘宝优惠券
        %a{href: "http://www.shikuaigou.com"} 粉丝福利购
        %a{href: "http://www.uuhaodian.com"} 优优好店
        %a{href: "http://car.uuhaodian.com"} 优优汽修帮手
        %a{href: "http://www.jidanguo.top"} 百香果
        %a{href: "http://www.gouwuzhinan.cn"} 购物指南
        %a{href: "http://www.xiongmao123.com"} 熊猫优选
      %p{style: "text-align: center;padding-bottom:50px;"}
        %a{href: "http://www.beian.miit.gov.cn"} 京ICP备17027610号-1
