- title("折券 - 折券网,折券窝,折券宝,淘宝天猫打折券")
- head_desc("折券 - 1折券、2折券、5折券、对折券，淘宝天猫打折券、折扣券免费领。折券网，折券窝，折券券，折折券，打折券，折扣券，折券100，好折券，果折券，折券宝，网购省钱平台，折券网每天百款独家特卖商品九点准时开抢，淘宝网天猫等400家商城购物返利，各种返利无处不在。")
- keywords("折券,折券网,折券窝,折券券,折折券,打折券,折扣券,折券100,好折券,果折券,折券宝")

.container
  .row
    .col-md-12
      %h1.page-header 折券
      %p.content 折券 - 1折券、2折券、5折券、对折券，淘宝天猫打折券、折扣券免费领。折券网，折券窝，折券券，折折券，打折券，折扣券，折券100，好折券，果折券，折券宝，网购省钱平台，折券网每天百款独家特卖商品九点准时开抢，淘宝网天猫等400家商城购物返利，各种返利无处不在。
      %p.content 为大家准备了：淘宝内部优惠券网站汇总

    - @compete_brands.each do |brand|
      .col-md-12
        %h2.page-header #{brand.title}
        %p.content 网站介绍：#{brand.description}
        %p.content 关键词：#{brand.keywords}
        %p.content
          直达链接：
          %a{href: "http://#{brand.host}", target: "_blank"} #{brand.title}
          %a{href: "http://#{brand.host.sub('youhui.iquan.net', 'go.51sqkb.com')}", target: "_blank"} #{brand.title}
