- ca = item["coupon_amount"].to_i 
- buy_url = ca > 0 ? "http://api.uuhaodian.com/uu/buy?id=#{item["item_id"]}&channel=8" : item["url"]

.item
  %a.zh{href: "#{buy_url}", target: "_blank", rel: "nofollow"}
    %img.pic{src: "#{item["pict_url"]}", alt: "#{item["title"]}"}
    .cent
      %h3 
        %span #{item["user_type"] == 1 ? "天猫" : "淘宝"} 
        #{item["title"]}
      .tags #{" "}
      .num
        %span 原价 ￥#{ca > 0 ? item["zk_final_price"] : item["reserve_price"]}
        %span.r 已售#{item["volume"] > 10000 ? "#{(item["volume"] / 10000.0).round(1)}万" : item["volume"]}件
      .money
        到手价 ￥
        %span.m #{(item["zk_final_price"].to_f - ca).round(2)}
        .quan
          %i #{ca > 0 ? "#{ca}元券" : "#{(item["zk_final_price"].to_f * 10 /item["reserve_price"].to_f).round(1)}折"}
