- title("#{@title}_爱券网")
- head_desc("专场特卖- #{@title} - 爱券网。")
- keywords(@title)
- path(@path)
- h1(@title)

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: false, need_ads: true}
  = render partial: "m_diyquan/page_js", locals: {path: '/getK9CouponList', pinyin: '', keyword: '', pagesize: 20, sort_type: 0}
  = render partial: "m_diyquan/shuangpai_list", locals: {coupons: @coupons}
