- buy_url = "https://www.uuhaodian.com/yh/#{coupon["item_id"]}/?from=iquan"
- seo_k = @seo_k.nil? ? '' : "#{@seo_k}_"
- strong_k = @keyword.nil? ? '' : @keyword
- coupon_price = coupon["coupon_amount"].to_i
- now_price = coupon["zk_final_price"].to_f - coupon_price

.zk-item
  %a{href: "#{buy_url}", title: "#{seo_k}#{coupon['title']}", target: "_blank"}
    .img-area
      %img.lazy.new{src: "", alt: "#{seo_k}#{coupon['title']}优惠券", data: {original: "#{coupon['pict_url']}"}, style: "opacity: 1;"}

    %p.title-area
      #{coupon['title'].gsub(strong_k, "<strong>#{strong_k}</strong>").html_safe}
    .tags-area
      %span.tag #{coupon["user_type"] == 1 ? "天猫" : "淘宝"}
      - if coupon["shop_title"].include?("旗舰店")
        %span.tag 旗舰店
      - if coupon["coupon_amount"].to_i > 0
        %span.tag.c #{coupon["coupon_amount"]}元券
    .price-area
      #{coupon["coupon_amount"].to_i > 0 ? "券后价 ￥" : "折扣价 ￥"}
      %span.price #{(coupon["zk_final_price"].to_f - coupon["coupon_amount"].to_i).round(2)}
    .raw-price-area
      - if coupon["coupon_amount"].to_i > 0
        原价 ￥#{coupon['zk_final_price']}
      - else
        原价 ￥#{coupon['reserve_price']}
      %p.sold 已领 #{coupon['volume']} 张券
