- aaid = coupon['url'].match(/activityId=(\w*)/)
- aaid = aaid.nil? ? '' : aaid[1]
- buy_url = coupon["coupon_price"].to_f > 0 ? "/buy/#{coupon["item_id"]}/?activity_id=#{aaid}" : "http://item.taobao.com/item.htm?id=#{coupon['item_id']}"

.zk-content
  .qrcode
    %img{src: "/image/love1.jpg", alt: "爱券app下载", height: "100px", width: "100px"}
    %p.desc 扫码下载APP~
  .img-area
    %a{href: "#{buy_url}", title: "#{coupon['title']}", target: "_blank", isconvert: 1}
      %img{src: "#{coupon['pic']}", alt: "#{coupon['title']}"}
  .info-area
    %h1.title.elli{style: "width:400px"}
      - if coupon['post_free'] == 1
        %span 包邮
      #{coupon['title']}
    %p#eventTimeStr.endtime
    %input{id: "endTime", value: "#{coupon['dateline']}", type: "hidden"}
    .platform
      - if coupon['platform_id'] == 2
        %i{style: "background-image: url(http://7xlxny.com1.z0.glb.clouddn.com/zhekou/web/platform_tmall.png);"}
        %span> 天猫
      - else
        %i{style: "background-image: url(http://7xlxny.com1.z0.glb.clouddn.com/zhekou/web/platform_taobao.png);"}
        %span> 淘宝
    .stat
      %p.price-area
        - if coupon["coupon_price"].to_i > 0
          %span.ori-price 现价：￥#{coupon['raw_price']}
        - else
          %span.ori-price &nbsp;
        %span.price
          ￥
          - if coupon['coupon_price'].to_i == 0
            %em.int{style:"padding:0"}> #{coupon['raw_price'].to_i}
            %em.decimal> .#{coupon['raw_price'].to_s.sub(/\d+\./, '')}
          - else
            %em.int{style: "padding:0"}> #{coupon['coupon_price'].to_i}
            %em.decimal> .#{coupon['coupon_price'].to_s.sub(/\d+\./,'')}
          - if coupon["coupon_price"].to_i > 0
            %i 券后价
          - else
            %i 折扣价
      .buy-area
        - if coupon["coupon_price"].to_i > 0
          %p.desc 有效期内领券下单，享受立减优惠！
        - else
          %p.desc &nbsp;
        %a{href: "#{buy_url}", target: "_blank", class: "buy-btn", isconvert: 1}
          .line.line-l
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          .line.line-r
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          - if coupon['coupon_price'].to_i == 0
            立即购买
          - else
            领券立减
            %em #{coupon['gap_price']}
            元
    .tags
      .tag-list
        - if category
          - category.each do |cate|
            %a{href: "/fenlei/#{cate['pinyin']}/", title: "#{cate['name']}淘宝优惠券", class: "tag-item"} #{cate['name']}
      .coll
        %i
        按
        %em Ctrl&nbsp;+&nbsp;D
        加入收藏

= render partial: "layouts/taobao_js", locals: {pid: @taodianjin_pid}
