- seo_k = @seo_k.nil? ? '' : "#{@seo_k}_"
- strong_k = @keyword.nil? ? '' : @keyword

.zk-item
  %a{href: "javascript:;", title: "#{seo_k}#{coupon['title']}", target: "_blank", isconvert: 1, rel: "nofollow"}
    .img-area
      %img.lazy{src: "", alt: "#{seo_k}#{coupon['title']}优惠券", data: {original: "#{coupon['pict_url']}"}, style: "opacity: 1;"}

    %p.title-area.elli
      - if coupon["user_type"] == 1
        %i.i_tmall
      - else 
        %i.i_taobao
      %span.post-free 包邮
      #{coupon['title'].gsub(strong_k, "<strong>#{strong_k}</strong>").html_safe}
    .raw-price-area
      现价 ￥#{coupon['reserve_price']}
      %p.sold 已领 #{coupon['volume']} 张券
    .info
      .price-area
        %span.price 
          %span>￥
          %em.number-font #{coupon["zk_final_price"].to_i}
          %em.decimal> .#{coupon["zk_final_price"].to_s.sub(/\d+\./,'')}
          %i
      %span.coupon_click
        立即购买
