- title("#{@detail["shortTitle"]}_十块购")
- head_desc("#{@detail["shortTitle"]}：#{@detail["title"]}#{@detail["recommend"]} 到手价#{@detail["nowPrice"]}元 - 十块购")
- keywords("#{@detail["shortTitle"]},#{@detail["title"]}")
- path("/detail/z_#{@detail["itemId"]}")
- mobile_url("/detail/z_#{@detail["itemId"]}")
- coupon = @detail
- buy_url = "/buy/z_#{coupon["itemId"]}"
- c_url = "/buy_url/z_#{coupon["itemId"]}"

.wrapper1200
  .haohuo-area
    .img-left-area
      %img#cover_image{src: "#{@detail["coverImage"]}", alt: "#{@detail["title"]}"}
      .small-area
        %ul
          - @detail["auctionImages"][0,5].each do |pic|
            %li{style: "display:inline;"}
              %img.small_img{src: "#{pic}"}
    .info-middle-area
      %h1
        #{@detail["shortTitle"].split.join}
      %p.recommend #{@detail["recommend"]}
      .price-d
        %p
          优惠信息：可领#{@detail["couponMoney"].to_i}元优惠券
          %span{style: "float:right"} 包邮
        %p
          价格：#{@detail["price"]}元
          %span{style: "float:right"} 更新于#{Time.now.to_s[0,10]}

      %a#buy_click{href: "javascript:;", onclick: "go_buy_url();"}
        .buy-d
          %span.s1 到手价￥#{@detail["nowPrice"]}
          %span.s2 立即购买
      %a{href: "javascript:;", data:{id: "#{@detail["sellerId"]}"}, onclick: "go_buy_url();"}
        .shop-d
          .d1
            %img{src: "https://www.uuhaodian.com/img/shop.svg"}
          .d2
            %h3 #{@detail["shopName"]}#{@detail["sellerName"]}
            %p 拼多多好店推荐
          .d3 进店看看 >>
      .query-d
        商品分类：
        %a{href: "/zhekou/#{URI.encode_www_form_component(@detail["category"])}/"} #{@detail["category"]}
      .ma-d
        .d1
          %img{src: "https://www.uuhaodian.com/img/lbanner1.png"}
          关注公众号
        .d1
          #qrcode_in{style: "height: 80px;margin: 10px auto;"}
          微信/拼多多扫一扫 直接购买
    .list-right-area
      %h3 九块九包邮
      %ul
        - @jiukuaijiu.each do |item|
          %a{href: "/detail/x_#{item["itemId"]}", title: "#{item["shortTitle"]}"}
            %li
              %img{src: "#{item["coverImage"]}", alt: "#{item["shortTitle"]}"}
              %p
                #{item["shortTitle"]}
                %br
                到手价￥#{item["nowPrice"]}
.wrapper1200.haohuo-detail-area
  .same-left-area
    %h3 相似商品推荐
    %ul
      - @jiukuaijiu.each do |item|
        %a{href: "/detail/x_#{item["itemId"]}", title: "#{item["shotTitle"]}"}
          %li
            %img{src: "#{item["coverImage"]}"}
            %p
              #{item["shortTitle"]}
              %br
              %span 
                到手价￥#{item["nowPrice"]}
  .detail-middle-area
    %h3 商品详情与用户评价
    .d1
      .title
        %h4 商品描述
      %p #{@detail["recommend"]}
      .title
        %h4 商品详情
      - @detail["detailImages"].each_with_index do |pic, index|
        %img{src: "#{pic}", alt: "#{@detail["title"]}商品图片-#{index+1}"}
      .title
        %h4 用户评价
      %p 没有更多了
  .shop-right-area
    %h3 店铺推荐
    %ul
      - @jiukuaijiu.each do |item|
        %li
          %a{href: "javascript:;", data:{id: "#{item["sellerId"]}"}, onclick: "go_shop_url($(this));"}
            #{item["shopName"]}

:javascript
  $(".small_img").hover(function(){
    $("#cover_image").attr("src", $(this).attr("src"));
  })
  var go_shop_url = function(e){
    url = "https://api.uuhaodian.com/uu/shop_go?shop_id="+ e.data("id") +"&sgo=shikuai";
    window.open(url);
  }
  var go_buy_url = function(){
    window.open("#{buy_url}");
  }
  var canvas_callback = function(data){
    if(data.status == 1){
      var cv = $("#qrcode_in");
      cv.qrcode({
        render: "canvas",
        height: 80,
        width: 80,
        text: data.url
      });
    }
  }
  $.ajax({
    url: "#{c_url}",
    type: 'GET',
    dataType: 'jsonp',
    data:{
      'callback': 'canvas_callback'
    },
    success:function(data){
    }
  });
