- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

- if @category
  = render partial: "diyquan/header_fenlei", locals: {category: @category}
.wrapper.home-wrapper
  %div{style: "margin-top:20px"}
  = render partial: "diyquan/quan_filter"
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more_search", locals: {path: '/getFenleiCouponList', pinyin: @pinyin, keyword: '', sort_type: 0, pagesize: 40, wclass: '.home-wrapper'}

= render partial: "diyquan/home_footer", locals: {links: @links}
