- title("爱券网_淘宝优惠券,天猫优惠券,找券网优惠券网站")
- head_desc("爱券网 - 找券网,券大娘,券搜搜,找券搜券淘券抢券拿券妈妈券宝宝券猪猪券一网打尽，提供淘宝优惠券、天猫优惠券、优惠卷等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。") 
- keywords("爱券网,爱券,天猫优惠券,淘宝优惠券,找券网,优惠券网站,券搜搜,丁丁特价,券大娘,优惠卷,优惠券")
- h1("优惠券网站 - 天猫优惠券 - 淘宝优惠券")
- mobile_url("/")

= render partial: "diyquan/home_adzone"
.wrapper 
  %div{style: "padding-left:15px;background-color: white;line-height: 45px;"} 
    %span{style: "font-size:20px;font-weight:700;color:#FF472B;"} 九块九包邮
    %a{href: "http://www.uuhaodian.com/collection/4/?from=iquan"} 
      %span{style: "float:right;padding-right:20px;"} 查看更多
  = render partial: "diyquan/wide_banner", locals: {items: @coupons_9kuai9}
.wrapper.home-wrapper{style: "margin-top: 10px;"}
  = render partial: "diyquan/lanlan_quan_filter"
  = render partial: "diyquan/lanlan_quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/lanlan_load_more", locals: {path: 'https://api.uuhaodian.com/uu/home_list', pinyin: '', keyword: '',cid: 0, sort_type: 7,type: 0,  pagesize: 20, wclass: '.home-wrapper'}

  .rel-zk-area{style: "margin-bottom: 30px;"}
    %p.head
      %span 精选店铺推荐
    .rel-zk-list.clearfix
      - @shops.each do |shop|
        .shop-item
          %a{href: "/dianpu/jd_#{shop.shop_id}/", title: "#{shop.shop_name}"}
            %img.shop-item-img{src: "#{shop.img_url}"}
            %p.shop-item-p #{shop.shop_name}

  .rel-zk-area{style: "margin-bottom: 30px;"}
    %p.head
      %span 更多内容
  %p{style: "padding: 20px;background-color:#fff;line-height: 30px;margin-bottom:20px;"} 
    爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券券搜搜淘券券一网打尽，提供淘宝优惠券、天猫优惠券、爱淘宝优惠券等实时查询服务找券网服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱，找券就来 - 爱券网。
    %br
    淘宝优惠券如何领取？现在很多淘宝天猫商家对商品设置了优惠券，有些面额还特别大，领取优惠券之后可以享受折上折优惠，大家现在只需登录优优好店www.uuhaodian.com，搜索关键词或者淘宝宝贝标题，如果有券，就都搜得到，有些商品没有优惠券，在优优好店也可以领取福利红包获得优惠！
    %br
    从前淘宝优惠券，就是所谓的商家券，但是这些券现在已经不再发放了，改为了妈妈券，就是说只有有券，在哪里都搜的到。推荐大家去优优好店www.uuhaodian.com领优惠券，那里不但搜券方便，还会每日更新大额券、超值商品，让大家买的便宜、买的值！
    %br
    优优好店，关注同名微信公众号可以领淘宝天猫优惠券了，现在关注还送福利红包，最高能领100元！同时，优优好店小程序也已经上线，可以在微信里便捷的领取淘宝优惠券了。
    %br
    为大家准备了：淘宝天猫
    %span 优惠券网站
    汇总
    %span{style: "color: #ff6a00;float:right;"}
      %a#more-btn{href: "javascript:;"} 展开内容+

  #more-content.sno
    - @compete_brands.each_with_index do |brand, index|
      %p{style: "padding: 20px;background-color:#fff;line-height: 30px;margin-bottom:20px;"} 
        #{brand.title}，网站介绍：#{brand.description.gsub('优惠券', '<strong>优惠券</strong>').gsub('折扣券','<strong>折扣券</strong>').gsub('找券网', '<strong>找券网</strong>').html_safe} 【淘宝优惠券】【天猫优惠券】网站排名-#{index+1}

= render partial: "diyquan/home_footer", locals: {links: @links}

:javascript
  var more_open = false;
  $("#more-btn").click(function(){
    if(more_open){
      more_open = !more_open;
      $("#more-content").addClass("sno");
      $("#more-btn").html("展开内容+");
    }
    else{
      more_open = !more_open;
      $("#more-content").removeClass("sno");
      $("#more-btn").html("收起内容-");
    }
  });
