- title(@title)
- head_desc(@description)
- keywords(@keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

.wrapper1200{style: "margin-top: 20px;"}
  .home-desc{style: "line-height: 50px;"}
    - @ks.each do |k|
      %a.slink{href: "/zhekou/#{URI.encode_www_form_component(k.keyword)}/", title: "#{k.keyword}折扣"} #{k.keyword}

.wrapper1200
  .home-desc
    - @pages.each do |page|
      %a.slink{href: "/map_k/#{page}/"} #{page}

= render partial: "diyquan/footer"
