- title(@title)
- head_desc(@description)
- keywords(@keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

= render partial: "diyquan/header_fenlei_zhekou"
= render partial: "diyquan/suggest_keywords", locals: {keywords: @suggest_keywords}
.wrapper.search-result{style: "margin-top:10px"}
  .sno
    %p #{@description} 更新于#{Time.now.strftime("%Y年%m月%d日")}
  .sno
    %p #{@desc_ext.gsub(@keyword, "<strong>#{@keyword}</strong>").html_safe}
  .sno
    %p
      相关推荐：
      - @keywords.split(',').each do |k|
        %strong #{k}
  = render partial: "diyquan/quan_filter"
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  .sno
    %p #{@description}
  = render partial: "diyquan/load_more_search", locals: {path: '/getSearchCouponList', keyword: @search_keyword, pinyin: '', sort_type: @sort_type, pagesize: 40, wclass: '.search-result'}

:javascript
  $('#li-sort-#{@sort_type}').addClass('active');

= render partial: "diyquan/home_footer", locals: {links: @links}
