- title(@title)
- head_desc(@description)
- keywords(@keywords)
- path(@path)
- mobile_url(@path)
- amp_path(@path)
- h1(@h1)

= render partial: "diyquan/header_fenlei_zhekou"
.wrapper
  %div{style: "background:#fff;margin: 20px auto; padding: 20px;"} 
    %p #{@description}
.wrapper.search-result{style: "margin-top:10px"}
  #couponList.zk-list.clearfix
    - @items.each do |item|
      = render partial: "diyquan/dg_item", locals: {coupon: item}
.wrapper
  %div{style: "line-height: 60px;height:60px;overflow: auto;"}
    - @suggest_keywords.each do |k|
      %a{href: "/zhekou/#{URI.encode(k)}/", style: "height: 20px;line-height:20px; border-radius: 30px;background-color:#fff;padding: 10px 20px;font-size: 10px;"} #{k}

.wrapper
  %div{style: "background:#fff;margin: 20px auto; padding: 20px;"} 
    %p #{@description} 更新于#{Time.now.strftime("%Y年%m月%d日")}
    %p #{@desc_ext.html_safe}
    %p
      相关推荐：
      - @keywords.split(',').each do |k|
        %strong #{k}
  .rel-zk-area{style: "margin-bottom: 30px;"}
    %p.head
      %span 店铺推荐
    .rel-zk-list.clearfix
      - @shops.each do |shop|
        .shop-item
          %a{href: "/dianpu/jd_#{shop.shop_id}/", title: "#{shop.shop_name}"}
            %img.shop-item-img{src: "#{shop.img_url}"}
            %p.shop-item-p #{shop.shop_name}

  = render partial: "/layouts/link_for_top"

= render partial: "diyquan/outlink_footer", locals: {links: @links, outlinks: @outlinks}
