- title(@title)
- head_desc(@description)
- keywords(@page_keywords + ',' + @keywords[0,20].join(','))
- path(@path)
- mobile_url(@path)
- home_anchor = @big_keywords.sample

.white-line-area
  .related-k
    - @related_k.each do |k|
      %a{href: "/zhekou/#{URI.encode(k)}", class: "rk"} #{k}
.wrapper1200{style: "margin-top: 10px;"}
  #gy_filter
    .wrapper1200
      %ul.platform-area{style: "margin: 0;"}
        %li.platform-type#platform_1{data: {type: "1"}} 天猫淘宝
        %li.platform-type#platform_2{data: {type: "2"}} 京东
        %li.platform-type#platform_3{data: {type: "3"}} 拼多多
        %li.right-tips “#{@keyword}”搜索结果 
      .order-area
        %ul.sort-type
          %li.sort_li.active#li-sort-1{data: {sort: "1"}} 综合
          %li.sort_li#li-sort-2{data: {sort: "2"}} 销量
          %li.sort_li#li-sort-5{data: {sort: "5"}} 推荐
          %li.sort_li#li-sort-3{data: {sort: "3"}} 价格
          %li#li-q{data: {q: "1"}}
            %input.switch#li-q-switch{type: "checkbox"}
            %label#li-q-switch-label{for: "li-q-switch"} 只看券
  .zk-list.clearfix#couponList{style: "margin-top: 20px;"}
  = render partial: "dg_load_more", locals: {keyword: @keyword, has_coupon: 0}



.wrapper1200.search-result
  %div{style: "background-color:white;margin: 10px 0;padding:10px;"}
    %h1 #{@keyword}优惠专场
    %p #{@keyword}优惠专场，实时更新#{@keyword}淘宝天猫优惠券折扣特卖信息，全场低至1折起包邮，敬请关注！这些#{@keyword}优惠券，是爱券网从全网各处（app、优惠网站、优惠qq群、优惠微信群）搜集而来，先领优惠券，再下单，价格可以更低一点。为了方便您找券，您可以将#{@keyword}优惠信息按照销量、价格、优惠额、优惠率等维度进行排序，也可以直接查找#{@keyword}大额优惠券。
    %p 
      %a{href: "/amp/qq/#{URI.encode(@keyword)}/"} #{@keyword}
      |
      %a{href: "/zhekou/#{URI.encode(@keyword)}/rexiao/"} 热销#{@keyword}
      |
      %a{href: "/zhekou/#{URI.encode(@keyword)}/tejia/"} 特价#{@keyword}
      |
      %a{href: "/zhekou/#{URI.encode(@keyword)}/dae/"} #{@keyword}大额优惠券
      |
      %a{href: "/zhekou/#{URI.encode(@keyword)}/yizhe/"} 一折#{@keyword}
  %div{style: "background-color:white;margin: 10px 0;padding:10px;"}
    %h2 #{@keyword} 相关推荐
    %p
      - @keywords.sample(20).each do |k|
        %a{href: "https://www.baidu.com/s?wd=#{URI.encode(k)}", target: "_blank"} #{k}
        |
      - @sks.each do |k|
        %a{href: "/zhekou/#{URI.encode(k)}/"} #{k}优惠券
        |
        %a{href: "/amp/qq/#{URI.encode(k)}/"} #{k}
        |
      #{@keyword}
  - if @nicks.size > 0
    %div{style: "background-color:white;margin: 10px 0;padding:10px;"}
      %h2 #{@keyword} 相关店铺
      %p
        - @nicks.each do |k|
          %a{href: "/dianpu/#{URI.encode(k)}/"} #{k}
          |

= render partial: "diyquan/footer"
