- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)
- home_anchor = @big_keywords.sample


= render partial: "diyquan/header_fenlei_zhekou"

%article.wrapper.search-result
  %div{style: "background-color:white;margin: 10px 0;padding:10px;"}
    %h2 #{@keyword}优惠专场
    %p #{@keyword}优惠专场，实时更新#{@keyword}淘宝天猫优惠券折扣特卖信息，全场低至1折起包邮，敬请关注！这些#{@keyword}优惠券，是爱券网从全网各处（app、优惠网站、优惠qq群、优惠微信群）搜集而来，先领优惠券，再下单，价格可以更低一点。为了方便您找券，您可以将#{@keyword}优惠信息按照销量、价格、优惠额、优惠率等维度进行排序，也可以直接查找#{@keyword}大额优惠券。
  %p.search-res-title 
    %a{href: "/", title: "#{home_anchor}"} #{home_anchor}
    %span &nbsp;&nbsp;"#{@keyword}"搜索结果:&nbsp;&nbsp;
  = render partial: "diyquan/tb_quan_list", locals: {zhekous: @zhekous, coupons: []}
  %div{style: "background-color:white;margin: 10px 0;padding:10px;"}
    %h2 #{@keyword} 相关推荐
    %p
      - @keywords.each do |k|
        %a{href: "https://www.baidu.com/s?wd=#{URI.encode(k)}", target: "_blank"} #{k}
        |
      #{@keyword}


= render partial: "diyquan/footer"
