<% title(@title) %>
<% head_desc(@description) %>
<% keywords(@page_keywords) %>
<% path(@path) %>
<% h1(@h1) %>
<% home_anchor = "十块购" %>

<header class="col-12" style="background-color:#FF6434;color:#fff;height:40px;line-height:40px;text-align:center;">十块购</header>
<article class="container" style="max-width:1200px;margin: 0 auto;min-height:500px;background-color:#f6f6f6;padding-bottom: 20px;">
  <div class="columns">
    <div class="col-12">
      <p style="padding: 10px 10px 0 10px;margin:0;font-size:14px;color:#999;">
      <a href="/" style="color:#999;"><%= home_anchor %></a>
      >
      <% @cats.each do |cat| %>
        <a href="/amp/qq/<%= URI.encode(cat["name"].gsub('/','')) %>/" style="color:#999;"><%= cat["name"] %></a>
        >
      <% end %>
      <%= @keyword %>
      </p>
    </div>
    <% @items.each do |item|%>
      <% coupon_money = item["coupon_amount"] ? item["coupon_amount"].to_i : 0 %>
      <% now_price = (item["zk_final_price"].to_f - coupon_money).round(2) %>
      <% zhe = (now_price * 10.0 / item["reserve_price"].to_f).round(1) %>
      <% buy_url = coupon_money <= 0 ? item["url"] : "https://api.uuhaodian.com/uu/buy?id=#{item["item_id"]}&channel=12" %>
      <div class="col-3 col-sm-6 column" style="margin-top: 10px;">
        <a href="/detail/x_<%= item["item_id"] %>" onclick="tb_item_click('<%= buy_url %>');" target="_blank" style="color:#3b4351;" rel="nofollow">
          <div class="col-12 item">
            <amp-img src="<%= item["pict_url"] %>" height="200px" width="200px" layout="responsive"></amp-img>
            <p class="title"><%= item["title"] %></p>
            <p class="o-price">
            原价 ￥<%= coupon_money > 0 ? item["zk_final_price"] : item["reserve_price"] %>
          <span style="float:right"><%= item["volume"] %>人已付款</span>
            </p>
            <p style="margin:0;padding: 0 5px 5px 5px;">
              <span style="font-size:16px;color:red;">￥<%= now_price%><span>
                  <span class="coupon">
                    <%= coupon_money > 0 ? "券 #{coupon_money} 元" : "#{zhe} 折" %>
                  </span>
            </p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="col-12 column" style="">
    <div style="margin: 20px auto;text-align:center;color: #FF6434;height: 40px;line-height:40px;border-radius:20px;border: 1px solid #FF6434;background-color: #fff;" onclick="load_more_click('<%= @keyword %>');">加载更多</div>
  </div>
  <div class="col-12 column" style="margin: 20px 0;overflow: auto;height: 60px;line-height:60px;">
    <% @keywords.each do |k| %>
      <a href="/amp/qq/<%= URI.encode(k) %>/" class="k"><%= k %></a>
    <% end %>
  </div>
  <% if @is_mobile %>
  <amp-ad width="100vw" height="320"
                        type="adsense"
                        data-ad-client="ca-pub-3259544082307715"
                        data-ad-slot="1508329037"
                        data-auto-format="rspv"
                        data-full-width="">
    <div overflow=""></div>
  </amp-ad>
  <% end %>
  <div class="col-12 column" style="background-color:#fff;padding:10px;margin: 20px 0;">
    <p style="margin:0;font-size:14px;">
    <%= "十块购#{@keyword}，实时更新#{@keyword}淘宝天猫优惠券折扣特卖信息，疫情期间，请多多关注包邮的#{@keyword}。" %>
      <br/>
      <%= "#{@keyword}推荐店铺：" %>
      <%= @items.map{|t| t["shop_title"]}.uniq.join('，')%>
      <% @selectors.each do |s| %>
        <br/>
        <%= "#{@keyword}#{s["type"]} #{s["value"].gsub(',', '，')}" %>
      <% end %>
      <br/>
      <%= @keyword %>优惠专场：
      <a href="/zhekou/<%= URI.encode(@keyword) %>/"><%= @keyword %>折扣优惠</a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/rexiao/">热销<%= @keyword %></a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/tejia/">特价<%= @keyword %></a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/dae/">大额<%= @keyword %>优惠券</a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/yizhe/">一折<%= @keyword %></a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/platform2/">京东<%= @keyword %></a>
      |
      <a href="/zhekou/<%= URI.encode(@keyword) %>/platform3/">拼多多<%= @keyword %></a>
      <br/>
      <a href="/amp/map-k-A-1-1.html">站点地图</a>
    </p>
  </div>
  <h1 class="sno"><%= @keyword %></h1>
</article>
<footer style="text-align:center;font-size:12px;padding: 20px 0;">
  「十块购官网」网购省钱，天天特价! - 京ICP备18009981号-2
  <br/>
  <span>更新于<%= Time.now.to_s[0,10] %></span>
</footer>
<% if @is_mobile %>
<%= render partial: "mobile_fixed_footer"%>
<% end %>
<%= render partial: "baidu_tj"%>
