- home_anchor = @big_keywords.sample
%p.bread-area
  %span 天天特价：
  %a{href: "/", title: "#{home_anchor}"} #{home_anchor}
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %a{href: "/dianpu/", title: "天猫旗舰店"} 天猫旗舰店
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %span #{title}

