- home_anchor = ['优惠券','优惠卷','优惠券网站','天猫优惠券','淘宝优惠券'].sample
%p.bread-area
  %span 内部优惠券：
  %a{href: "/", title: "#{home_anchor}"} #{home_anchor}
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %a{href: "/dianpu/", title: "天猫旗舰店"} 天猫旗舰店
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %span #{title}

