- title("【#{@shop_name}】#{@shop_name}优惠券/折扣/首页/评价怎么样_爱券网")
- head_desc("#{@desc} - 爱券网")
- keywords("#{@shop_name},#{@shop_name}首页,#{@shop_name}优惠券,#{@shop_name}折扣,#{@shop_name}怎么样,#{@shop_name}评价")
- path(@path)
- mobile_url(@path)

.dazhe
  = render partial: "/m_diyquan/search_header", locals: {keyword: @shop_name}
  .ha
    %h1 #{@shop_name}
    %p.desc #{@desc}
  - if @suggest_keywords.size > 0
    .top-menu-container{style: "max-width:750px;margin-top:0;"}
      .top-menu{style: "max-width:750px;"}
        .inner
          - @suggest_keywords.each do |k|
            %a.top-menu-item{href: "/zhekou/#{URI.encode_www_form_component(k)}/"} #{k}
  .content
    #dazheList
      - @products.each do |item|
        = render partial: "/m_diyquan/jd_item", locals: {item: item}

  = render partial: "/m_diyquan/jd_footer", locals: {url: "https://www.uuhaodian.com/jdshop_go/#{@shop_id}/", text: "#{@shop_name}"}
