- title("【#{@shop.title}】#{@shop.title}优惠券/折扣/首页/评价怎么样_爱券网")
- head_desc("#{@desc} - 爱券网")
- keywords("#{@shop.title},#{@shop.title}首页,#{@shop.title}优惠券,#{@shop.title}折扣,#{@shop.title}怎么样,#{@shop.title}评价,#{@shop.title}淘宝,#{@shop.title}天猫")
- path(@path)
- mobile_url(@path)

.dazhe
  = render partial: "/m_diyquan/search_header", locals: {keyword: @shop.title}
  .ha
    %h1 #{@shop.title}
    %p.desc #{@desc}

  .content
    = render partial: "/m_diyquan/filter"
    #dazheList
    %img#imgLoading{src: "/image/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
    .button-btn.sno#loadRetry 重新加载
    .button-btn.sno#noMore 没有更多了

  = render partial: "/m_diyquan/shop_footer", locals: {url: "https://api.uuhaodian.com/uu/shop_go?shop_id=#{@shop.source_id}&sgo=iquan", text: "#{@shop.title}首页"}

= render partial: "/m_diyquan/data_js", locals: {page: 1}
